{% extends '../base.html' %}

{% block title %}Metatags{% end %}

{% block content %}
    <!--<a href="../metatags">Metatags</a>-->
    <a href="#">Platforms</a>
    <a href="../metatags/categories">Categories</a>
    <a href="../metatags/subcategories">Subcategories</a>
    <a href="../metatags/colours">Colours</a>
    <a href="../metatags/conditions">Conditions</a>
    <h4>Create your platforms (PC, XBox, Mac)</h4>
    <button class="btn btn-primary" data-toggle="modal" data-target="#add_new_platform_modal" href="#">
        Add new platform
    </button>
    <div class="row-offcanvas">
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Title</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for p in platforms %}
                    <tr data-id="{{ p.id }}"
                        data-title="{{ p.title }}">
                        <td>{{ p.id }}</td>
                        <td>{{ p.title.capitalize() }}</td>
                        <td>
                            <a class="btn btn_edit_platform silver-color" href="#" data-toggle="modal"
                               data-target="#edit_platform_modal"
                               title="Edit platform">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn btn_delete_platform red-color" href="#" title="Delete platform">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                     </tr>
                {% end %}
            </tbody>
        </table>
    </div>

<!-- Add new platform modal -->
    <div class="modal fade property" id="add_new_platform_modal" tabindex="-1" role="dialog" aria-labelledby="add_new_tag_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn_reload" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="add_new_tag_modalLabel"> Add platform </h4>
                </div>
                <div class="modal-body">
                    <span class="label label-default">New Platform Title</span>
                    <input type="text" class="form-control" id="new_platform_title" placeholder="Input platform title">
                    <div>&nbsp</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn_reload" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn_add_platform">Save</button>
                </div>
            </div>
        </div>
    </div>

<!-- Edit platform modal -->
    <div class="modal fade property" id="edit_platform_modal" tabindex="-1" role="dialog" aria-labelledby="add_new_tag_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn_reload" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="edit_tag_modalLabel"> Edit platform </h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control display-none" id="editing_platform_id" disabled>

                    <span class="label label-default">Platform title</span>
                    <input type="text" class="form-control" id="editing_platform_title">
                    <div>&nbsp</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn_reload" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn_save_edited_platform">Save</button>
                </div>
            </div>
        </div>
    </div>
{% end %}