{% extends '../base.html' %}

{% block title %}Metatags{% end %}

{% block js %}
<script>
    document.getElementById('color_pickier_checkbox').onchange = function() {
        document.getElementById('color_pickier').disabled = this.checked;
    };

    document.getElementById('edit_color_pickier_checkbox').onchange = function() {
        document.getElementById('edit_color_pickier').disabled = this.checked;
    };
</script>
{% end %}

{% block content %}
    <div class="tag_navigation_div">
        <!--<a href="../metatags">Metatags</a>-->
        <a href="../metatags/platforms">Platforms</a>
        <a href="../metatags/categories">Categories</a>
        <a href="../metatags/subcategories">Subcategories</a>
        <a href="#" id="current_link">Colours</a>
        <a href="../metatags/conditions">Conditions</a>
    </div>
    <h4>Create your colours (black, yellow, green)</h4>
    <button class="btn btn-primary" data-toggle="modal" data-target="#add_new_colour_modal" href="#">
        Add new colour
    </button>
    <div class="row-offcanvas">
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Colour Name</th>
                <th>Colour preview</th>
                <th>Parent (Platform > Category > Subcategory)</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for c in colours %}
                    <tr data-id="{{ c.id }}"
                        data-title="{{ c.title }}"
                        data-code="{{ c.code }}"
                        data-subcategory_id="{{ c.subcategory.id }}">
                        <td>{{ c.id }}</td>
                        <td>{{ c.title }}</td>
                        <td>
                            {% if c.code == "disabled_color" %}
                                Disabled
                            {% else %}
                                <input class="color" value="{{ c.code }}"  disabled>
                            {% end %}
                        </td>
                        <td>{{ c.subcategory.category.platform.title }} >
                            {{ c.subcategory.category.title }} >
                            {{ c.subcategory.title }}</td>
                        <td>
                            <a class="btn btn_edit_colour silver-color" href="#" data-toggle="modal"
                               data-target="#edit_colour_modal" title="Edit colour">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn btn_delete_colour red-color" href="#" title="Delete colour">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                     </tr>
                {% end %}
            </tbody>
        </table>
    </div>

<!-- Add new colour modal -->
    <div class="modal fade property" id="add_new_colour_modal" tabindex="-1" role="dialog" aria-labelledby="add_new_tag_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn_reload" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="add_new_tag_modalLabel"> Add colour </h4>
                </div>
                <div class="modal-body">
                    <span class="label label-default">Select Subcategory</span>
                    <form action="">
                        <div class="row-fluid">
                            <select  name="type" id="colour_subcategory_select">
                                <option value="0">---</option>
                                {% for s in subcategories %}
                                    <option value="{{ s.id }}">{{ s.title }} ({{ s.category.platform.title }} >
                                        {{ s.category.title }})
                                    </option>
                                {% end %}
                            </select>
                        </div>
                    </form>
                        <div>&nbsp</div>

                    <span class="label label-default">New Colour Title</span>
                    <input type="text" class="form-control" id="new_colour_title" placeholder="Input colour title" required>
                    <div>&nbsp</div>

                    <input type="checkbox" id="color_pickier_checkbox"> Disable colour <input class="color" id="color_pickier">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn_reload" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn_add_colour">Save</button>
                </div>
            </div>
        </div>
    </div>

<!-- Edit colour modal -->
    <div class="modal fade property" id="edit_colour_modal" tabindex="-1" role="dialog" aria-labelledby="add_new_tag_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn_reload" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="edit_colour_modalLabel"> Edit colour </h4>
                </div>
                <div class="modal-body">
                    <span class="label label-default">Subcategory</span>
                    <form action="">
                        <div class="row-fluid">
                            <select  name="type" id="edit_colour_select">
                                {% for s in subcategories %}
                                    <option value="{{ s.id }}">{{ s.title }} ({{ s.category.platform.title }} >
                                        {{ s.category.title }})
                                    </option>
                                {% end %}
                            </select>
                        </div>
                    </form>
                    <div>&nbsp</div>
                    <input type="text" class="form-control display-none" id="editing_colour_id" disabled>

                    <span class="label label-default">Colour Title</span>
                    <input type="text" class="form-control" id="editing_colour_title">
                    <div>&nbsp</div>

                    <input type="checkbox" id="edit_color_pickier_checkbox"> Disable colour <input class="color" id="edit_color_pickier">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn_reload" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn_save_edited_colour">Save</button>
                </div>
            </div>
        </div>
    </div>
{% end %}