{% extends '../base.html' %}

{% block title %}Metatags{% end %}

{% block content %}
    <div class="tag_navigation_div">
        <a href="#" id="current_link">Metatags</a>
        <a href="metatags/platforms">Platforms</a>
        <a href="metatags/categories">Categories</a>
        <a href="metatags/subcategories">Subcategories</a>
        <a href="metatags/colours">Colours</a>
        <a href="metatags/conditions">Conditions</a>
    </div>
    <h4>In current tab you can see all available metatags (Playstation -> Consoles -> PS3 -> Black -> Like new)</h4>
    <p>In future</p>
{% end %}