.silver-color {
    color: #c0c0c0;
}

.red-color {
    color: red;
}

.green-color {
    color: green;
}

.category_fields {
    display: block;
}

.display-none {
    display: none;
}

#editing_tag_name {
    text-transform: capitalize;
}

.red-hoover:hover {
    color: red;
}

.red-focus:focus {
    color: red;
}

.green-hoover:hover {
    color: green;
}

.op-06 {
    opacity: .6;
}

.op-04 {
    opacity: .4;
}

.wrapper {
  border : 2px solid #000;
  overflow:hidden;
}

.wrapper div {
   min-height: 200px;
   padding: 10px;
}
#one {
  float:left;
  margin-right:20px;
  width:140px;
}
#two {
  overflow:hidden;
  margin:10px;
  min-height:170px;
}

@media screen and (max-width: 500px) {
   #one {
    float: none;
    margin-left: 100px;
    width:auto;
    border:0;
  }
}

.btn_disable,
.btn_disable:hover {
    /*color: inherit;*/
}

.underless-link,
.underless-link:hover,
.underless-link:focus,
.underless-link:active {
    text-decoration: none;
    color: #709cbe;
}

.tag_navigation_div a {
    text-decoration: none;
    margin-right: 15px;
    color: darkgray;
    font-weight: bold;
}

.tag_navigation_div a:hover {
    color: #000000;
}

#current_link {
    text-decoration: underline;
}

.metatag_title {
    color: #23211c;
}

.op-09 {
    opacity: .9;
}

.op-08 {
    opacity: .8;
}

.op-07 {
    opacity: .7;
}

.break-text {
    word-wrap: break-word;
}

.listing-description {
    max-width: 200px;
    text-align: justify;
}

#PleaseWait {
    position: absolute;
    left: 35%;
    top: 35%;
}

#PleaseWaitChangePermissions {
    position: absolute;
    left: 35%;
    top: 20%;
}

#PleaseWaitSuspension {
    position: absolute;
    left: 45%;
    top: 40%;
}

#editing_platform_image {
    max-width:89px;
    max-height:89px;
    border-radius: 5px;
}

.unresized {
    resize: none;
}

.platform-description {
    max-width: 400px;
    text-align: justify;
}

.text-bold {
    font-weight: bold;
}

.fixed-first-col tbody tr th{
    table-layout: fixed;
    width: 200px;
    vertical-align: middle;
}

.hoover-cursor {
    cursor: pointer;
}

.fs-20 {
    font-size: 20px;
}

.cyan-color {
    color: #428bca;
}

.download-button {
    float: right;
}

@media (min-width: 1200px) {
  .container-big {
    width: 1220px;
  }
}