.btn_edit_tag {
    color: #c0c0c0;
}

.btn_delete_tag {
    color: red;
}

.category_fields {
    display: block;
}

#editing_tag_id {
    display: none;
}

#editing_tag_name {
    text-transform: capitalize;
}