.silver-color {
    color: #c0c0c0;
}

.red-color {
    color: red;
}

.green-color {
    color: green;
}

.category_fields {
    display: block;
}

.display-none {
    display: none;
}

#editing_tag_name {
    text-transform: capitalize;
}

.red-hoover:hover {
    color: red;
}

.red-focus:focus {
    color: red;
}

.green-hoover:hover {
    color: green;
}

.op-06 {
    opacity: .6;
}

.op-04 {
    opacity: .4;
}

.wrapper {
  border : 2px solid #000;
  overflow:hidden;
}

.wrapper div {
   min-height: 200px;
   padding: 10px;
}
#one {
  float:left;
  margin-right:20px;
  width:140px;
}
#two {
  overflow:hidden;
  margin:10px;
  min-height:170px;
}

@media screen and (max-width: 500px) {
   #one {
    float: none;
    margin-left: 100px;
    width:auto;
    border:0;
  }
}

.btn_disable,
.btn_disable:hover {
    /*color: inherit;*/
}

.underless-link,
.underless-link:hover,
.underless-link:focus,
.underless-link:active {
    text-decoration: none;
    color: #709cbe;
}