{% extends '../base.html' %}

{% block title %}Blocked Users List{% end %}

{% block js %}
    <script type="text/javascript">
        $("#thumbnailList1 a img").MyThumbnail({
            thumbWidth:64,
            thumbHeight:64,
            backgroundColor:"#ccc",
            imageDivClass:"myPic"
        });
    </script>
{% end %}

{% block content %}
    <div class="tag_navigation_div">
        <a href="../users" >All</a>
        <a href="#" id="current_link">Blocked</a>
        <!--<a href="users/reported">Reported</a>-->
    </div>
    <div class="row-offcanvas">
        <table class="table table-hover">
            <thead>
                <th>Blocked User ID</th>
                <!--<th>Blocked User Username</th>-->
                <th>User Who Block ID</th>
                <!--<th>User Who Block Username</th>-->
                <th>Action</th>
            </thead>
            <tbody>
                {% for b in blocked_users %}
                    <tr data-blocked_user_id="{{ b.b_user_id }}"
                        data-user_id="{{ b.user_id }}">
                        <td>{{ b.u_u }}</td>
                        <td>{{ b.b_user_id }}</td>
                        <td>{{ b.user_id }}</td>
                        <td>
                            <a class="btn btn_delete_user red-color" href="#" title="Delete user">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                     </tr>
                {% end %}
            </tbody>
        </table>
    </div>
{% end %}