{% extends '../base.html' %}

{% block title %}Users List{% end %}

{% block js %}
    <script src="{{ static_url('js/make_thumbnail.js') }}"></script>
{% end %}

{% block content %}
    <div class="tag_navigation_div">
        <a href="#" id="current_link">All</a>
        <a href="users/blocked">Blocked</a>
        <!--<a href="users/reported">Reported</a>-->
    </div>
    <div id='PleaseWaitSuspension' style="display: none">
        <img src="{{ static_url('images/spinner.gif') }}"/>
    </div>
    <div class="row-offcanvas">
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Avatar</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Facebook id</th>
                <th>User type</th>
                <th>User status</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr data-id="{{ user.id }}"
                        data-username="{{ user.username }}"
                        data-email="{{ user.email }}"
                        data-phone="{{ user.phone }}"
                        data-user_type="{{ user.user_type }}">
                        <td>{{ user.id }}</td>
                        <td align="center" id="thumbnailList1">
                            {% if user.thumbnail %}
                                <a href="{{ user.thumbnail }}" target="_blank"><img src="{{ user.thumbnail }}"></a>
                            {% else %}
                                <a href="#" title="This user hasn't avatar"><img src="{{ static_url('images/anonymous_user.png') }}"></a>
                            {% end %}
                        </td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email or '' }}</td>
                        <td>{{ user.phone or '' }}</td>
                        <td>{% if user.facebook_id %}
                            <a class="underless-link" href="http://www.facebook.com/{{user.facebook_id}}" target="_blank">{{ user.facebook_id }}</a>
                            {% else %}
                            {% end %}
                        </td>
                        <td>{{ UserType.tostring(user.user_type) }}</td>
                        <td>{{ SystemStatus.tostring(user.system_status) }}
                            {% if user.blocked_me %}
                                <i class="glyphicon glyphicon-exclamation-sign red-color"
                                   title="User was blocked or reported"></i></td>
                            {% end %}
                        <!--check current user status and can he do anything-->
                        {% if current_user.user_type < user.user_type or current_user == user %}
                        <td>
                            {% if user.system_status == 0 %}
                            <a  class="btn btn_suspend_user red-color op-06" title="Suspend user" href="#">
                                <i class="glyphicon glyphicon-user red-hoover"></i></a>
                               {% else %}
                            <a  class="btn btn_activate_user green-color op-06" title="Activate user" href="#">
                                <i class="glyphicon glyphicon-user green-hoover"></i></a>
                                {% end %}
                            <a class="btn btn_change_user_type" href="#" title="Change user access permissions"
                               data-toggle="modal" data-target="#edit_user_type_modal" >
                                <i class="glyphicon glyphicon-lock"></i>
                            </a>
                            <a class="btn btn_edit_user silver-color" href="#" title="Edit user"
                               data-toggle="modal" data-target="#edit_user_modal">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            {% if current_user == user %}
                                <a class="btn " href="#" title="Cannot delete yourself" style="color: inherit">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            {% else %}
                            <a class="btn btn_delete_user red-color" href="#" title="Delete user">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                            {% end %}
                        </td>
                        {% else %}
                            <td>You can't modify {{ UserType.tostring(user.user_type) }} users</td>
                        {% end %}
                     </tr>
                {% end %}
            </tbody>
        </table>
    </div>

<!-- Edit user permissions modal -->
    <div class="modal fade property" id="edit_user_type_modal" tabindex="-1" role="dialog" aria-labelledby="edit_user_type_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn_reload" data-dismiss="modal" id="close_modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="edit_user_type_modalLabel"> Choose user type </h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control display-none" id="changing_user_id" disabled>

                    <input type="radio" name="user_type" value="3"> Standard<br>
                    <input type="radio" name="user_type" value="2"> Support<br>
                    <input type="radio" name="user_type" value="1"> Developer<br>
                    <input type="radio" name="user_type" value="0"> Admin<br>

                </div>
                <div class="modal-footer">
                    <div id='PleaseWaitChangePermissions' style="display: none">
                        <img src="{{ static_url('images/spinner.gif') }}"/>
                    </div>
                    <button type="button" class="btn btn-default btn_reload" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn_save_usertype">Save</button>
                </div>
            </div>
        </div>
    </div>

<!-- Edit user info modal -->
    <div class="modal fade property" id="edit_user_modal" tabindex="-1" role="dialog" aria-labelledby="edit_user_type_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn_reload" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="edit_user_modalLabel"> Edit user info </h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control display-none" id="editing_user_id" disabled>

                    <span class="label label-default">Username</span>
                    <input type="text" class="form-control" id="editing_username" placeholder="Input username">
                    <div>&nbsp</div>

                    <span class="label label-default">Email</span>
                    <input type="text" class="form-control" id="editing_email" placeholder="Input email address">
                    <div>&nbsp</div>

                    <span class="label label-default">Phone number</span>
                    <input type="text" class="form-control" id="editing_phone" placeholder="Input phone number">
                    <div>&nbsp</div>
                </div>
                <div class="modal-footer">
                    <div id='PleaseWait' style="display: none">
                        <img src="{{ static_url('images/spinner.gif') }}"/>
                    </div>
                    <button type="button" class="btn btn-default btn_reload" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn_save_editing_user" id="btn_save_editing_user">Save</button>
                </div>
            </div>
        </div>
    </div>
{% end %}