{% extends '../base.html' %}

{% block title %}Blocked Users List{% end %}

{% block content %}
    <div class="tag_navigation_div">
        <a href="../users" >All</a>
        <a href="../users/suspended">Suspended</a>
        <a href="../users/blocked">Blocked
        {% if str(blocked_users_count) != '0' %}
                <i class="glyphicon glyphicon-exclamation-sign red-color" title="Someone was blocked or reported"></i>
        {% end %}
        </a>
        <a href="#" id="current_link">Reported</a>
    </div>
    {% if reported_users.count() == 0 %}
        <br/>No reported users
    {% else %}
    <div class="row-offcanvas">
        <table class="table table-hover">
            <thead>
                <th>Reported User ID</th>
                <th>Reported User Username</th>
                <th>User Who Report ID</th>
                <th>User Who Report Username</th>
                <th>Reporting reason</th>
                <th>Time</th>
            </thead>
            <tbody>
                {% for r in reported_users %}
                    <tr data-id="{{ r.id }}">
                        <td>{{ r.reported_user_id }}</td>
                        <td>{{ r.reported_user.username }}</td>
                        <td>{{ r.user_id }}</td>
                        <td>{{ r.user.username }}</td>
                        <td>{{ UserReportingReasons.tostring(r.reason) }}</td>
                        <td>{{ (r.created_at + timedelta(hours=1)).strftime("%Y-%m-%d %H:%M") }}</td>
                     </tr>
                {% end %}
            </tbody>
        </table>
    </div>
    {% end %}
{% end %}