{% extends '../base.html' %}

{% block title %}Blocked Users List{% end %}

{% block content %}
    <div class="tag_navigation_div">
        <a href="../users" >All</a>
        <a href="../users/suspended">Reported</a>
        <a href="#" id="current_link">Blocked</a>
        <a href="../users/reported">Reported</a>
    </div>
    {% if str(blocked_users_count) == '0' %}
        <br/>No blocked users
    {% else %}
    <div class="row-offcanvas">
        <table class="table table-hover">
            <thead>
                <th>Blocked User ID</th>
                <th>Blocked User Username</th>
                <th>User Who Block ID</th>
                <th>User Who Block Username</th>
                <th>Time</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for b in blocked_users %}
                    <tr data-blocker_id="{{ b.blocker_id }}"
                        data-blocked_id="{{ b.blocked_id }}">
                        <td>{{ b.blocked_id }}</td>
                        <td>{{ b.blocked_username }}</td>
                        <td>{{ b.blocker_id }}</td>
                        <td>{{ b.blocker_username }}</td>
                        <td>{{ (b.created_at + timedelta(hours=1)).strftime("%Y-%m-%d %H:%M") }}</td>
                        <td>
                            <a class="btn btn_delete_blocked_flag red-color" href="#" title="Delete flag">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                     </tr>
                {% end %}
            </tbody>
        </table>
    </div>
    {% end %}
{% end %}