{% extends 'base.html' %}

{% block title %}Users List{% end %}

{% block content %}
    <div class="row-offcanvas">
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Facebook id</th>
                <th>User type</th>
                <th>User status</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr data-id="{{ user.id }}">
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email or '' }}</td>
                        <td>{{ user.phone or '' }}</td>
                        <td>{{ user.facebook_id or '' }}</td>
                        <td>{{ UserType.tostring(user.user_type) }}</td>
                        <td>{{ SystemStatus.tostring(user.system_status) }}</td>
                        <td>
                            <a class="btn btn_change_usertype" href="#" title="Change user access permissions"
                               data-toggle="modal" data-target="#edit_user_type_modal" >
                                <i class="glyphicon glyphicon-lock"></i>
                            </a>
                            <a class="btn btn_edit_user silver-color" href="#" data-toggle="modal"
                               data-target="#edit_user_modal" title="Edit user">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a class="btn btn_delete_user red-color" href="#" title="Delete user">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                     </tr>
                {% end %}
            </tbody>
        </table>
    </div>

<!-- Edit user permissions modal -->
    <div class="modal fade property" id="edit_user_type_modal" tabindex="-1" role="dialog" aria-labelledby="edit_user_type_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="edit_user_type_modalLabel"> Add tag </h4>
                </div>
                <div class="modal-body">
                    <span class="label label-default">Parent tag</span>
                    <form action="">
                        <div class="row-fluid edit_tag_parent_tag">
                            <select  name="type" id="edit_tag_select">
                                <option value="0">---</option>
                                {% for tag in tags %}
                                    <option value="{{ tag.id }}">{{ tag.name.capitalize() }}</option>
                                {% end %}
                            </select>
                        </div>
                    </form>
                        <div>&nbsp</div>

                    <div class="category_fields">
                        <input type="text" class="form-control" id="editing_tag_id" disabled>

                        <span class="label label-default">Tag title</span>
                        <input type="text" class="form-control" id="editing_tag_name" placeholder="Input tag title" required>
                        <div>&nbsp</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn_save_edited_tag">Save</button>
                </div>
            </div>
        </div>
    </div>
{% end %}