{% extends 'base.html' %}

{% block title %}Users List{% end %}

{% block search %}
    <!--<form class="navbar-form navbar-right" role="search">-->
        <!--<div class="form-group">-->
            <!--<input type="text" name="q" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>-->
    <!--</form>-->
{% end %}

{% block js %}
    <script type="text/javascript">
        $('.btn_remove').click(function(){
            if (confirm('Do you really want to delete this user?'))
            {
                var id = $(this).parent().parent().data('id');

                remove_user(id, function(status, message){
                    if (status != 0)
                    {
                        alert(message);
                    }
                });
            };
        });

        remove_user = function(user_id, completion)
        {
            $.ajax({
                url: '/api/admin',
                type: 'PUT',
                data: {
                    'id': user_id,
                    'action_type': 'delete'
                },
                success: function(data) {
                    var status = data['status'];
                    var message = data['message'];
                    completion(status, message);
                    location.reload();
                }
            });

            return false;
        };

        $('.btn_suspend').click(function(){
            var id = $(this).parent().parent().data('id');
            suspend_user(id);
        });

        suspend_user = function(user_id)
        {
            $.ajax({
                url: '/api/admin',
                type: 'PUT',
                data: {
                    'id': user_id,
                    'action_type': 'suspend'
                },
                success: function(data) {
                    location.reload();
                }
            });

            return false;
        };

        $('.btn_unsuspend').click(function(){
            var id = $(this).parent().parent().data('id');
            unsuspend_user(id);
        });

        unsuspend_user = function(user_id)
        {
            $.ajax({
                url: '/api/admin',
                type: 'PUT',
                data: {
                    'id': user_id,
                    'action_type': 'unsuspend'
                },
                success: function(data) {
                    location.reload();
                }
            });

            return false;
        };

    </script>
{% end %}

{% block content %}
    <div class="row-offcanvas">
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Facebook id</th>
                <th>User type</th>
                <th>User status</th>
                <th>Action</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr data-id="{{ user.id }}">
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email or '' }}</td>
                        <td>{{ user.phone or '' }}</td>
                        <td>{{ user.facebook_id or '' }}</td>
                        <td>Type</td>
                        <td>Status</td>
                        <td>Action</td>
                     </tr>
                {% end %}
            </tbody>
        </table>
    </div>
{% end %}