<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% end %}</title>
        <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/style.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/bootstrap-select.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/bootstrap-glyphicons.css') }}">
        <link rel="stylesheet" href="{{ static_url('css/hawkist_admin_tool.css') }}">
        <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">-->
        <link rel="shortcut icon" href="{{ static_url('images/favicon.png') }}">
    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Hawkist</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav {% try %} {% if undefined_user %} display-none {% end %} {% except %} {% end %}">
                    <li {% if menu_tab_active == 'tab_users' %} class="active"{% end %}><a href="/api/admin/users">Users</a></li>
                    <!--<li {% if menu_tab_active == 'tab_listings' %} class="active"{% end %}><a href="/api/admin/listings">Listings</a></li>-->
                    <li {% if menu_tab_active == 'tab_tags' %} class="active"{% end %}><a href="/api/admin/tags">Tags</a></li>
                    <li {% if menu_tab_active == 'tab_metatags' %} class="active"{% end %}><a href="/api/admin/metatags">Metatags</a></li>
                </ul>
                <!--{% block logout %}{% end %}-->
                <ul class="nav navbar-nav navbar-right {% try %} {% if undefined_user %} display-none {% end %} {% except %} {% end %}">
                    <li><a href="/api/admin/logout">Log out</a></li>
                </ul>
                {% block search %}{% end %}
            </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
            <div class="clear"></div>
        </div>
        <div class="container">
            {% block content %}{% end %}
            {% block paginator_block %}
                {% if 'paginator' in globals() %}
                    <ul class="pager">
                        {% if paginator['page'] > 1 %}
                            <li><a href="?{% block filter %}{% end %}p={{ paginator['page'] - 1 }}">&larr; Previous </a></li>
                        {% end %}
                        <li><a>{{ paginator['page']}} / {{ paginator['pages']}}</a></li>
                        {% if paginator['page'] < paginator['pages'] %}
                            <li><a href="?{% block filter %}{% end %}p={{ paginator['page'] + 1 }}"> Next &rarr;</a></li>
                        {% end %}
                    </ul>
                {% end %}
            {% end %}
        </div>
        <script src="{{ static_url('js/jquery.min.js') }}"></script>
        <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
        <script src="{{ static_url('js/utils.js') }}"></script>
        <script src="{{ static_url('js/stripe.js') }}"></script>
        <script src="{{ static_url('js/bootstrap-select.js') }}"></script>
        <script src="{{ static_url('js/hawkist_admin_tool.js') }}"></script>
        <script src="{{ static_url('js/jscolor.js') }}"></script>
        <link rel="stylesheet" href="{{ static_url('css/online-thumbnail.css') }}">
        <script src="{{ static_url('js/online-thumbnail.js') }}"></script>
        {% block js %}{% end %}
    <a href="#" class="scrollup">Top</a>
    </body>
</html>